@import "_normalize";
@import "_palete";
@import "_mixins";

// =============================================================================
// Custom Styles
// =============================================================================

// ....
body {
    width: 100%;
    height: 100vh;
    background: $other-blue;
    color: $dark-gray;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.title {
    text-align: center;
}
